@import './variables.scss';

.btn {
  display: inline-block;
  margin: 0 0.5rem 0 0;
  padding: 0.5rem 1rem;
  background-color: $blue-light;
  border-radius: 2px;  
  color: $white;
}
.btn-sm {
  padding: 0.2rem 0.4rem;
}
.view-title {
  margin-left: 28px;
  text-align: left;
}