@import './variables.scss';

.btn {
  display: inline-block;
  margin: 0 0.5rem 0 0;
  padding: 0.5rem 1rem;
  background-color: $blue-light;
  border-radius: 2px;
  color: $white;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}
.btn-sm {
  padding: 0.2rem 0.4rem;
}
.view-title {
  margin-left: 28px;
  text-align: left;
}

input,
select {
  padding: 0.25rem;
  border-radius: 3px;
  border: 1px solid $blue-extra-light;
  font-size: 1rem;
}
input.b {
  font-weight: 700;
}
input:focus {
  outline: none;
  border-color: $blue-light;
}

input.wide,
select.wide {
  width: 100%;
}
