// colors
$white: #fff;
$off-white: rgb(230, 230, 230);

$blue: #4758b9;
$blue-light: #6170c8;

$orange: #f8ad18;

$red: #d33a4f;
$red-light: #e7586b;

// layout
$border-width: 0px;
$border-radius-sm: 5px;
$border-radius-lg: 25vw;
