// colors
$white: #fff;
$off-white: rgb(230, 230, 230);

$blue: #5e6187;
$blue-light: #888bb0;
$blue-extra-light: #c2c4dd;

$orange: #f8ad18;

$red: #d33a4f;
$red-light: #e7586b;

// layout
$border-width: 0px;
$border-radius-sm: 5px;
$border-radius-lg: 25vw;
